

  input{display:none;}

  body {
    background-color: rgb(174, 186, 200);
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: rgb(51, 65, 104);
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #577cbc;
  }
  
  header > h1 {
    font-size: 2.5em;
    margin: 0;
    animation: pulse ease-in;
  }
  header> h1:hover{
    animation-play-state: paused;
  }
  header > p {
    font-style: italic;
    color: white;
    text-decoration: underline;
  }
  
  
  section {
    width: fit-content;
    border:1px solid rgb(91, 121, 175);
  
    background-color: white;
    padding:20px;
    animation: apeal2 2s;
  }
  section > h2 {
    color:rgb(111, 153, 244);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
  }

  
  
    footer {
      text-align: center;
      padding: 20px;
      background-color: #304862;
      color: white;
    }
  footer #final {
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    border-top: 3px solid rgb(137, 172, 237);
  }
  footer #final> a{
    color:beige;
    
    text-decoration: none;
    padding:10px;
    display:inline-block;
    border-radius: 15px;
    font-weight: bold;
  }

  footer > a:active{
    background-color: gray;
  }
  dl>dt{
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    }
  dl>dd{
    color:grey;
    margin-top:10px;
  }
  footer > p::after{
    margin-left:5px;
  }
  
  figure{
    position:relative;
    transition: transform 2s, z-index 2s, border 2s;
    width: 400px;
    height: 200px;
  }
  figure:hover{
    transform: scale(1.5);
    z-index:5;
    animation: balans 1s;
  }
  figure figcaption{
    text-align: center;
  }


  nav ul{
    list-style-type: none;
  }
  nav ul, nav li{
    margin:0;
    padding:0;
  }
  nav a{
    text-decoration: none;
    color:white;
    display: block;
    font-weight: bold;
    transition: background-color 3s, color 3s, font-size 3s;
  
  }
  nav {
    background-color:rgb(123, 140, 176);
    height: 50px;
    width:100%;
    position:sticky;
    top:0;
    z-index:3;
  }
  nav>ul.meniu>li>ul.submeniu{
    display: none;
  }
  nav>ul.meniu>li:hover>ul.submeniu{
    display: block;
  }
  ul.meniu{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
  }
  ul.meniu>li{
    height:50px;
    line-height: 50px;
    text-align: center;
    border:1px solid white;
    flex:1 200px;
  }
  ul.submeniu>li{
    height:50px;
    line-height: 50px;
    text-align: center;
    border:1px solid white;
    background-color: rgb(123, 140, 176);
  }
  nav a:hover{
    background-color: darkslateblue;
    color:black;
    font-size: 18px;
    animation: sus 0.5s;
  }
  
  
  #stirivreme{
    grid-area:stirivreme;
    padding: 20px;
  }
  #stiripolitic{
    grid-area:stiripolitic;
  }
  #stiriedu{
    grid-area:stiriedu;
  }
  #reclama1{
    grid-area:reclamacoke;
    padding: 0%;
    margin: 0%;
    border: 0;
  
  }
  .grid-container{
    padding:10px;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap:15px;
  }
  
  
  ol{
    display:flex;
    padding:0;
    margin:0;
    list-style-type: none;
    justify-content: space-between;
  
  }
  ol>li{
    margin:0;
    padding:5px;
    flex:0 0 150px;
    border:1px solid red;
  }
  
  .pulse
  {display: inline-block;
    font-size: 2em; 
    color: white; 
    animation: pulse 2s infinite;
  }
  
  .image-container img {
    width: 400px; 
    transition: transform 0.2s ease;
  }
  
  .image-container img:hover {
    animation: enlarge 0.3s ease forwards;
  }
  
  @keyframes enlarge {
    from {
      transform: scale(1); 
    }
    to {
      transform: scale(1.1); 
    }
  }
  @media (max-width: 992px) {
    .meniu {
      flex-direction: column; 
      gap: 10px;
    }
  
    .submeniu {
      position: static; 
      display: block; 
    }
  }
  

  @media (max-width: 768px) {
    .container {
      padding: 0 10px; 
    }
  
    .meniu a {
      font-size: 14px;
      padding: 5px; 
    }
  }
  

  @media (max-width: 576px) {
    nav {
      background-color: #ddd; 
      padding: 5px; 
    }
  
    .meniu {
      flex-direction: column;
      gap: 5px;
    }
  
    .meniu a {
      font-size: 12px; 
      padding: 3px; /* Minimal padding */
    }

  }
